
<!-- Side navigation -->
<div class="sidenav">
  <a href="#">user</a>
  <a href="#">ถอยกลับ</a>
</div>

<div class="container p-3 text-dark">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="user/home">หน้าแรก</a></li>
          <li class="breadcrumb-item active" aria-current="page">จองคิวสนามฟุตบอล</li>
      </ol>
  </nav>

  <div class="container pt-3">
      <div class="row justify-content-center">
          <div class="col-md-12">
              <div class="card-body shadow border-0"
                  style="background-color: rgb(123, 202, 233);border-radius: 10px;">
                  <h4 class="text-dark text-center p-2">จองคิวสนามฟุตบอล</h4>

                  <!-- data user -->
                  <div class="container text-dark">
                      <div class="card p-4 border-0" style="border-radius: 10px;">
                          <form class="row g-3 gx-4" >
                              <div class="col-md-3">
                                  <label for="validationCustom01" class="form-label">รหัสผู้ใช้</label>
                                  <input type="text" class="form-control" id="validationCustom01" value=""
                                      formControlName="userHnId" readonly>
                              </div>
                              <div class="col-md-5">
                                  <label for="validationCustom01" class="form-label">ชื่อ-สกุล</label>
                                  <div class="input-group">
                                      <input type="text" id="form8Example3" class="form-control border-end-0"
                                          formControlName="userFirstname" readonly>
                                      <input type="text" id="form8Example3" class="form-control border-start-0"
                                          formControlName="userLastname" readonly>
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <label for="validationCustom01" class="form-label">เบอร์โทร</label>
                                  <input type="text" class="form-control" id="validationCustom01" value="userPhone"
                                      formControlName="userPhone" readonly>
                              </div>
                              <div class="col-md-4">
                                  <label for="validationCustom01" class="form-label">อีเมล</label>
                                  <input type="text" class="form-control" id="validationCustom01" value="userEmail"
                                      formControlName="userEmail" readonly>
                              </div>
                          </form>
                      </div>
                  </div>
                  <br>

                  <!-- booking treat -->
                  <div class="container text-dark">
                      <div class="card p-4 border-0" style="border-radius: 10px;">
                          <form class="row g-3 gx-4" >
                            
                              <div class="col-md-12 pt-2">
                                  <h6 class="text-center">
                                      <dt>เลือกวันที่จองสนาม</dt>
                                  </h6>
                                  <div class="col-md-12">
                                  <div class="card p-4">
                                    <div class="row">
                                    <div class="col-sm-12">
                                              </div>
                                              <div class="col-md-12 pt-2">
                                                <h6 class="text-center">
                                                    <dt>เลือกวันที่จองสนาม</dt>
                                                </h6>
                                                <div class="col-md-12">
                                                    <div class="card p-4">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                            </div>
                                                            <div class="col-md-12 pt-2">
                                                              <h6 class="text-center">
                                                                  <dt>เลือกวันที่จองสนาม</dt>
                                                              </h6>
                                                              <div class="col-md-12">
                                                                  <div class="card p-4">
                                                                      <div class="row">
                                                                          <div class="col-sm-12">
                                                                          </div>
                                                                          <div class="col-md-12 pt-2">
                                                                            <h6 class="text-center">
                                                                                <dt>เลือกวันที่จองสนาม</dt>
                                                                            </h6>
                                                                            <div class="col-md-12">
                                                                                <div class="card p-4">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-12">
                                                                                        </div>

                      </div>
                  </div>
                  <br>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
                  <div class="row justify-content-center">
                      <div class="col-md-3">
                          <button type="submit" class="btn btn-primary">บันทึก</button>
                      </div>
                  </div>